.react-calendar {
  font-family: Arial, sans-serif;
  background-color: #ffffff; 
  border-radius: 8px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  color: #000000;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #ccc;
}

.react-calendar__navigation {
  background-color: #00A84D; 
  color: #ffffff; 
  border-radius: 8px 8px 0 0;
}

.react-calendar__navigation button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 5px 10px;
}

.react-calendar__navigation button:hover {
  background-color: #f0f0f0;
}

.react-calendar__month-view__days__day {
  color: #333333; 
  font-weight: bold;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #ccc;
}

.react-calendar__month-view__year {
  color: #333333; 
  font-weight: bold;
}

.react-calendar__tile--now {
  background-color: #00A84D; 
  color: #fff;
}

.react-calendar__tile--active {
  background-color: #00A84D;
}

.react-calendar__tile--hover {
  background-color: #00A84D;
}

.react-calendar__tile--viewingMonth:not(.react-calendar__tile--now):not(.react-calendar__tile--active):not(.react-calendar__tile--hover):hover {
  background-color: red;
}
.react-calendar__tile--weekend {
  color: red;
}
.react-calendar__tile--range {
  background-color: #00A84D; 
  color: #ffffff; 
}

.react-calendar__tile--rangeStart,
.react-calendar__tile--rangeEnd {
  background-color: #00A84D; 
  color: #ffffff; 
}

.react-calendar__tile--active{
  background-color: #00A84D; 
  color: #ffffff;
}

.react-calendar__month-view__month {
  color: red;
}

.react-calendar__tile {
  cursor: pointer;
  transition: background-color 0.3s;
  color: #333333; 
}